@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,500;1,800&display=swap" );
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: #020410;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
} 

.navbar a{
     position: relative;
     font-size: 16px;
     color: wheat;
     text-decoration: none;
     font-weight: 500;
     margin-right: 30px;
}

.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 5px;
    transform: translateY(10px);
    transition: .5s;
    opacity: 0;
}

.navbar a:hover::after{
    transform: translateY(0);
    opacity: 1;
}

.search-bar{
    width: 250px;
    height: 45px;
    background:transparent;
    border: 2px solid white;
    border-radius: 6px;
    display: flex;
    align-items: center;
} 

.search-bar input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: aliceblue;
    padding-left: 10px;
}

.search-bar input::placeholder{
    color: wheat;
}

.search-bar button{
    width: 40px;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
}

.search-bar button i{
    font-size: 22px;
    color: aliceblue;
}

.bg{
    width: 100%;
    height: 100vh;
    background: url(img/backround.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 500px;
    background:url('img/backround.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
}

.container .content{
    width: 58%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    padding: 80px;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.social-icons a i{
    font-size: 22px;
    color: whitesmoke;
    margin-right: 10px;   
    transition: .5s ease; 
}

.social-icons a:hover i{
    transform: scale(1.2);
}

.content .logo{
    font-size: 30px;
}

.text-sci h2{
    font-size: 30px;
    line-height: 1;
}

.text-sci h2 span{
    font-size: 10px;
}

.text-sci p{
    font-size: 10px;
    margin: 20px 0 ;
}


.container .logreg-box{
    position: absolute;
    width: calc(100% - 58%);
    top: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
}


.logreg-box .form-box{
    position: absolute;     
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: whitesmoke;
}

/* Active login and register */
.logreg-box .form-box.login{
    transform: translateX(0);
    transition: transform .6s ease;
    transition-delay: .7s;
}

.logreg-box.active .form-box.login{
    transform: translateX(430px);
    transition-delay: 0s;
}

.logreg-box .form-box.register{
    transform: translateX(430px);
    transition: transform .6s ease;
    transition-delay: 0s;
    height: fit-content;
}

.logreg-box.active .form-box.register{
    transform: translateX(0);
    transition-delay: .7s;
}

/* end Active login and register */




.form-box h2{
    font-size: 32px;
    text-align: center;
}

.form-box .input-box{
    position: relative;
    width: 340px;
    height: 90px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: wheat;
    font-weight: 500;
    padding-right: 28px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box .icon{
    position: absolute;
    right: 0;
    top: 30px;
    font-size: 19px;
}

.remember-forgot{
    font-size: 14px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;    
}

.remember-forgot label input{
    accent-color: white;
    margin-right: 5px;
}

.remember-forgot a{
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: blueviolet;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-box .login-register{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}

.login-register p a{
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.login-register p a:hover{
    text-decoration: underline;
}